{% extends 'base.html'%}
{% block content%}

<br>
<h1 style="text-align: center">Basketball Top Headlines</h1>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Syracuse women's basketball star Tiana Mangakahia on breast cancer diagnosis: 'I will come out stronger'.</b></p>
                    <a style="font-size: 15px" href="https://www.ncaa.com/news/basketball-women/article/2019-07-02/syracuse-womens-basketball-star-tiana-mangakahia-breast">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Just because Pitt’s basketball season is over doesn’t mean recruiting for the class of 2019 is over. The biggest news that broke since the last recruiting update was that four-star small forward recruit Justin Champagnie officially committed to Pitt for next season.</b></p>
                    <a style="font-size: 15px" href="https://pittnews.com/article/146433/sports/recruiting-roundup-champagnie-chooses-pitt/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b3.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The Bahrain Basketball Association (BBA) are pushing hard to raise the level of the program to become among the best in Asia. It’s a process that will take time to develop and the BBA acknowledge that. That’s why they have been putting plenty of effort into strengthening Bahrain’s youth teams; an effort that has already started to produce results.</b></p>
                    <a style="font-size: 15px" href="http://www.fiba.basketball/news/bahrain-basketball-association-pushing-hard-to-build-on-recent-success-for-youth-program">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b4.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>
                        Texas Tech forward Josh Mballa has verbally committed to the University at Buffalo, the school announced Friday.             
                        The 6-8 Mballa will need to sit out next season because of NCAA transfer rules but will have three years of eligibility remaining.                        
                        His transfer was first reported by Evan Daniels of 247Sports.</b></p>
                    <a style="font-size: 15px" href="https://buffalonews.com/2019/06/07/university-at-buffalo-basketball-josh-mballa-texas-tech-recruiting/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b5.webp" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Thanks to a crazy college basketball offseason, there has been so much change within the sport. Many of the best players from last year’s NCAA tournament have gone on to the NBA draft, setting up a new season where anything can happen.</b></p>
                    <a style="font-size: 15px" href="https://www.yardbarker.com/college_basketball/articles/teams_most_likely_to_be_in_the_2020_final_four/s1_12680_29263514">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b6.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Title holder Barangay Ginebra and Magnolia Pambansang Manok both take a shot at an outright playoff entry as they clash in a crucial setto in the PBA Commissioner's Cup at the Smart Araneta Coliseum Sunday.</b></p>
                    <a style="font-size: 15px" href="https://www.pba.ph/news/outright-playoff-berth-at-stake-as-kings-hotshots-clash">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b7.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The Golden State Warriors face the Cleveland Cavaliers in Game 1 of the NBA Finals on Thursday at Oracle Arena after the Warriors' Game 7 win over the Oklahoma City Thunder on Monday night, capping their comeback after falling behind 3-1.</b></p>
                    <a style="font-size: 15px" href="https://www.cbssports.com/nba/news/warriors-face-cavaliers-in-nba-finals-rematch-5-things-to-know/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b8.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Sydney Brewer (right) of Southern Aroostook takes the ball strong to the hoop as Woodland's Sadie Smith tries to block the shot during the Class D North championship game at the Cross Insurance Center in Bangor on June 24, 2019.</b></p>
                    <a style="font-size: 15px" href="https://bangordailynews.com/2019/02/12/sports/high-school-sports/how-to-watch-every-maine-high-school-basketball-tourney-game/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Basketball fans will not have the chance to watch NBA star LeBron James perform at the Rio Olympics this summer.
                        The Cleveland Cavaliers star, part of their NBA championship-winning side, revealed recently that he would not be joining the team in Brazil after a long season.</b></p>
                    <a style="font-size: 15px" href="https://www.skysports.com/more-sports/basketball/news/12375/10326561/cleveland-and-nba-star-lebron-james-not-in-usa-basketball-team-for-2016-rio-olympics">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b10.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Chema Buceta's side had become the first British team, male or female, to reach the last eight of the sport's European championships when they beat Montenegro in a play-off and then went on to edge past Hungary.</b></p>
                    <a style="font-size: 15px" href="https://www.skysports.com/more-sports/basketball/news/12375/11758057/great-britain-women-beaten-by-france-in-eurobasket-semi-final">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b11.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Dover, Del. (Nov. 12, 2018) --- The Delaware State women’s basketball team tips off its 2018-19 home schedule with a non-conference battle against James Madison on Tuesday (Nov. 13). Game time is set for 7:00 p.m. in Memorial Hall.</b></p>
                    <a style="font-size: 15px" href="http://www.dsuhornets.com/ViewArticle.dbml?DB_OEM_ID=12900&ATCLID=211780233">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/basketball/bballblog/b12.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>For the last five years, fans have complained about a lack of parity in the NBA. Well, good luck picking the 2019-20 champions.
                        The NBA has undergone an extreme makeover that not even its closest followers recognise.</b></p>
                    <a style="font-size: 15px" href="https://www.foxsports.com.au/basketball/nba/nbas-new-world-order-who-can-win-it-all-after-wild-free-agency/news-story/a3adbe5e88e9f9ef2b445d69225d7152">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}