{% extends 'base.html'%}
{% block content%}
<br>
<h1 style="text-align: center">Latest news from the world of bikes</h1>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy12.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Congratulations to Ashlee J (Year 12) who has qualified for the 2019 Junior Australian Track Cycling Team. Ashlee will be competing in Frankfurt, Germany at the UCI Junior Track Cycling World Championships from 14 to 18 August 2019. This is a wonderful achievement during her final year of School and we wish Ashlee the very best of luck as she takes on the world’s best Juniors.</b></p>
                    <a style="font-size: 15px" href="https://www.ruyton.vic.edu.au/our-curriculum/news/cycling-news/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>     
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The British cycling team and kit manufacturer Kalas have announced their new racing kit.
                        The kit will be first used by British athletes at the UCI World Championships in Innsbruck.</b></p>
                    <a style="font-size: 15px" href="https://www.eurosport.co.uk/cycling/cycling-news-british-cycling-and-kalas-announce-new-kit_sto6939217/story.shtml">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy3.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Brussels: Former Olympic champion cyclist Alexander Vinokourov is to face trial for corruption in Belgium over allegations he paid a rival to let him win a major race.</b></p>
                    <a style="font-size: 15px" href="https://zeenews.india.com/other-sports/former-olympic-champion-cyclist-alexander-vinokourov-to-face-corruption-trial-2068144.html">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>             
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy4.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Chemicals giant INEOS, owned by Britain's richest man Jim Ratcliffe, will become the new sponsor of cycling's Tour de France-winning Team Sky.
                        A statement from Team Sky said the name change would take place on May 2 at the Tour de Yorkshire.</b></p>
                    <a style="font-size: 15px" href="https://www.eurosport.com/cycling/cycling-news-team-sky-to-become-team-ineos-as-takeover-confirmed_sto7193087/story.shtml">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>     
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy5.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>John Degenkolb has undergone surgery to repair a deep cut on his leg and revealed he almost lost a finger after he was involved in a serious crash along with five of his Giant-Alpecin team-mates in Spain on Saturday.</b></p>
                    <a style="font-size: 15px" href="https://www.skysports.com/cycling/news/15264/10142190/john-degenkolb-undergoes-surgery-after-giant-alpecin-crash">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy6.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Nicolas Roche's Tour de France diary: 'With Florian's strength I might finally fulfil my destiny'.</b></p>
                    <a style="font-size: 15px" href="https://www.independent.ie/sport/other-sports/cycling/nicolas-roches-tour-de-france-diary-with-florians-strength-i-might-finally-fulfil-my-destiny-38287116.html">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>             
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy7.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The back of Martin's jersey was in shreds and he had a long cut across his lower back and blood staining his shorts.</b></p>
                    <a style="font-size: 15px" href="http://www.cyclingnews.com/news/dan-martin-ripped-to-pieces-in-tour-de-france-crash/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>     
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy8.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Justin Haley was declared the winner of Sunday’s rain-shortened Coke Zero Sugar 400 at Daytona, after leading just one lap.</b></p>
                    <a style="font-size: 15px" href="https://www.nbcsports.com/video/2019-tour-de-france-stage-2-highlights">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Race Preview: The Tour de France 2019 parcours has been designed for the climbers with only 27 kilometers of individual riding against the clock.</b></p>
                    <a style="font-size: 15px" href="https://www.pezcyclingnews.com/racing/tour-de-france-2019-the-full-pez-tour-route-guide/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>             
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy10.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>As the 2018 Tour de France came to an end, the four jersey winners each rode custom-painted bikes for the final stage into Paris on Sunday.</b></p>
                    <a style="font-size: 15px" href="http://www.cyclingnews.com/features/tour-de-france-bikes-custom-painted-framesets-for-the-jersey-winners-in-paris-gallery/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>     
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy11.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Soren Kragh Andersen bounced back from disappointment last year to win the 2018 edition of Paris-Tours.
                        Andersen, 24, was beaten last year by Matteo Trentin but he was not to be denied this year.</b></p>
                    <a style="font-size: 15px" href="https://www.eurosport.com/cycling/paris-tours/2018/cycling-news-soren-kragh-andersen-bounces-back-to-claim-paris-tours_sto6963059/story.shtml">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/cycling/cyclingblog/cy1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Since its inception in 1995, Cyclingnews has grown to become the world leader on the internet for the sport of cycling.
                        The site is the passionate cycling fan's first port of call for news, race results, tech, live race coverage, race photography, interviews, features, diaries, video content, fitness and forums.</b></p>
                    <a style="font-size: 15px" href="https://www.strava.com/clubs/cyclingnews-com-319352">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>             
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}