{% extends 'base.html'%}

{% block content%}

<br>
<h1 style="text-align: center">Sports</h1>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Brazil have won the Copa America for a ninth time after goals from Everton, Gabriel Jesus and Richarlison saw the hosts overcome Peru 3-1 in the final at the Maracanã on Sunday night.</b></p>
                    <a style="font-size: 15px" href="https://www.standard.co.uk/sport/football/brazil-win-copa-america-final-2019-peru-gabriel-jesus-sent-off-maracana-final-a4184326.html">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The panel are joined by the editor of United We Stand, Andy Mitten, to delve into the expected overhaul at Manchester United, with the futures of Paul Pogba, Romelu Lukaku and Alexis Sanchez among those discussed.</b></p>
                    <a style="font-size: 15px" href="https://www.skysports.com/football/news/11095/11721425/transfer-talk-inside-manchester-uniteds-overhaul">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft3.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Lionel Messi has become the first player to win Europe's Golden Shoe award for three straight years after his nearest challenger Kylian Mbappe failed to score the four goals he needed in Paris St Germain's final league match of the season on Friday.</b></p>
                    <a style="font-size: 15px" href="https://www.supersport.com/football/news/190525_Messi_finishes_Europes_top_scorer_for_third_straight_year">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft4.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>RUMOUR MILL!! Transfer news and football gossip LIVE: £120m Man United exit, Liverpool "to sign" Fulham ace, Costa to Everton update, West Ham done deal.</b></p>
                    <a style="font-size: 15px" href="https://talksport.com/football/545799/transfer-news-live-juventus-pogba-liverpool-sancho-premier-league/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft5.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Brazil striker Gabriel Jesus was sent off in the 70th minute of the Copa America final against Peru on Sunday after scoring the goal which put his side in front. Jesus earned a second yellow card for tangling with Peru's Carlos Zambrano.</b></p>
                    <a style="font-size: 15px" href="https://www.supersport.com/football/news/190707_Brazil_striker_Jesus_sent_off_in_Copa_final">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft6.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>The 2018 SportPesa Shield winners opened the scoring through striker Duke Abuya who made a brilliant run down the right wing to slot home the opener in the 27th-minute, sending the fans in a frenzy.</b></p>
                    <a style="font-size: 15px" href="https://www.standardmedia.co.ke/sports/article/2001333055/how-kenyan-stewards-forgot-their-job-as-kariobangi-sharks-schooled-everton-photos">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft7.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>USA remain the untouchable masters of women's football after fourth World Cup triumph against Netherlands.</b></p>
                    <a style="font-size: 15px" href="https://www.standard.co.uk/sport/football/internationalfootball/usa-remain-the-untouchable-masters-of-womens-football-after-fourth-world-cup-triumph-against-a4184276.html">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft8.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Amy Rodriguez has enjoyed a career that would be the envy of footballers the world over. A FIFA Women's World Cup winner's medal, two Olympic golds and over 130 caps for USA offer a flavour of the lofty heights she has scaled.</b></p>
                    <a style="font-size: 15px" href="https://www.fifa.com/womens-football/news/amy-rodriguez-talks-football-pregnancy-and-motherhood">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Breaking Manchester City transfer news, team news, fixtures, gossip and more. Get all of the latest breaking transfer news, fixtures, squad news and more every day from the Manchester Evening News.</b></p>
                    <a style="font-size: 15px" href="https://www.manchestereveningnews.co.uk/all-about/manchester-city-fc">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft10.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>As the World Cup has vividly shown, women’s football is growing in popularity and status with increasing participation, professionalisation and media attention across the world.</b></p>
                    <a style="font-size: 15px" href="https://theconversation.com/womens-football-may-be-growing-in-popularity-but-the-game-is-still-fighting-for-survival-119888">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft11.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Sport has the power to change lives. Yet in the UK only 8% of young women and girls are meeting the recommended exercise guidelines and millions are missing out on the transformational rewards of an active lifestyle.</b></p>
                    <a style="font-size: 15px" href="https://www.msn.com/en-gb/sport/premier-league/womens-super-league-matches-could-be-staged-alongside-premier-league-games-to-tap-into-fanbase/ar-AADZ0FH">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/football/footballblog/ft12.webp" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Arsenal transfer target Wilfried Zaha has taken to social media to break his silence on transfer speculation regarding his future.
                        The Gunners are financially hamstrung and would appear to have minimal chance of matching Palace's £80m valuation of their man this summer.</b></p>
                    <a style="font-size: 15px" href="https://talksport.com/football/545805/arsenal-transfer-news-live-vazquez-saliba-ozil/">Read more</a>
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}