{% extends 'base.html'%}

{% block content%}
<br>
<h1 style="text-align: center">Rugby World</h1>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>A recap of Friday's Super Rugby action as the Blues and the Bulls had to settle for a share of the spoils, and the Waratahs won in Melbourne.
                        Blues 22-22 Bulls.</b></p>
                    <a style="font-size: 15px" href="https://www.skysports.com/rugby-union/news/12334/11732171/fridays-super-rugby-round-up-blues-and-bulls-draw-waratahs-hold-on-to-beat-rebels">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>       
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru12.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Canada completed a comprehensive win over Kenya earlier today. The match saw Americas 3 vs Africa 2 in a RWC qualifier. The two countries are joined by Germany and Hong Kong with the four competing for the last chance qualifying ticket to RWC 2019.</b></p>
                    <a style="font-size: 15px" href="http://www.americasrugbynews.com/2018/11/11/match-highlights-canada-vs-kenya/">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>  
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru3.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Johnny McNicholl gets caught by the Rebels on attack.</b></p>
                    <a style="font-size: 15px" href="https://www.superxv.com/crusaders-v-rebels-rd-16-super-rugby-preview/johnny_mcnicholl52/">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>               
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru4.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>England head coach Eddie Jones must find right kind of power to reverse this malaise, says David Flatman | London Evening Standard.</b></p>
                    <a style="font-size: 15px" href="https://www.google.com/url?sa=i&source=imgres&cd=&ved=2ahUKEwj2jYacwaXjAhUvxYUKHaR_CgsQjxx6BAgBEAI&url=https%3A%2F%2Fwww.standard.co.uk%2Fsport%2Frugby%2Fdavid-flatman-eddie-jones-must-find-right-kind-of-power-to-reverse-england-malaise-a3787391.html&psig=AOvVaw18NlFtW-Y6Sfz_dQjiQWmj&ust=1562666829178433">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>       
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru5.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Saints suffered Challenge Cup semi-final heartbreak when they were knocked out by a late Leeds rally.
                        They had led 10-4 after a Jodie Cunningham try and two Beth Stott goals.</b></p>
                    <a style="font-size: 15px" href="https://www.sthelensstar.co.uk/sport/17754665.final-womens-challenge-cup-semi-final-saints-10-leeds-16/">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>  
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru6.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Bulls winger Cornal Hendricks has taken to Instagram at the end his first season back in Super Rugby after retiring in 2015.
                        The 12-cap Springbok said that he felt “like a child again” at the beginning of the season, after a heart defect had seemingly ended his career four years ago. Since then, the 31-year-old has been cleared to play, and was given a chance by the three-time Super Rugby champions.</b></p>
                    <a style="font-size: 15px" href="https://www.rugbydump.com/news/cornal-hendricks-touching-message-after-courageous-comeback-season/">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>               
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru7.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>An all-out-rugby event will be hosted on Thursday 25 July 2019 at the Ultimate Rugby Experience at Nooitgedacht Village in Stellenbosch in support of the Chris Burger Petro Jackson Players’ Fund, with Jean de Villiers and Kyle Brown.</b></p>
                    <a style="font-size: 15px" href="https://springboks.rugby/news/latest">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>       
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru8.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Not the most entertaining way to finish a season, but it's unlikely any Crusaders fans care. They don't really care about much anyway, as this seasons' events have shown.</b></p>
                    <a style="font-size: 15px" href="https://www.rnz.co.nz/news/sport/393733/recap-rugby-crusaders-vs-jaguares">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>  
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Co-captain Hannah Jones, the returning Dyddgu Hywel and newcomer Courtney Edwards aim to secure qualification over two Rugby Europe Grand Prix Series legs for the World Series qualifying tournament next April.</b></p>
                    <a style="font-size: 15px" href="https://www.wru.wales/video/wales-women-trio-aim-to-turn-up-the-heat-in-sizzling-paris/">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>               
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru10.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b> For their efforts, Kenya 7s earned 10 points for a total tally of 45 points from the five rounds .This places Shujaa 8th HSBC World Rugby Sevens Series standings. South Africa top the world followed by New Zealand.</b></p>
                    <a style="font-size: 15px" href="https://www.michezoafrika.com/news/kenya-7s-draw-fiji-7s-again-for-vancouver-leg/24532">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>       
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru11.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>In a stunning decision that comes only a day after World Rugby announced the details of the final Olympic repechage tournaments, South Africa has withdrawn its women’s side from Rio, with African runners-up Kenya now added in their place.</b></p>
                    <a style="font-size: 15px" href="http://www.americasrugbynews.com/2015/12/11/kenya-women-replace-south-africa-for-rio/">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>  
                </div>
            </div>
        </div>
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay">
                    <img class="card-img-top card1" src="/static/photos/rugby/rugbyblog/ru2.jpeg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <p style="font-size: 15px" class="card-name"><b>Debutant Domingo Miotti’s electrifying impact off the bench and first tries in Super Rugby have delivered a memorable 22-20 win for the Jaguares against the Bulls.
                        Miotti changed the game after coming on to spur the Jaguares to a come-from-behind victory.</b></p>
                    <a style="font-size: 15px" href="https://www.foxsports.com.au/rugby/super-rugby/a-star-is-born-electrifying-youngster-fires-jaguares-to-victory/news-story/370660f4bac097a6f8939de76265570a">Read more</a> 
                    <a href="/comment" class="btn btn-success btn-rounded mb-4">Comment</a>               
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}